{% extends "base.html" %}
{% block content %}
  	<div class="row">
  		<div class="col-md-12">
  			{% for b in blocks %}
  			<div class="panel panel-info">
  				<div class="panel-heading">
  					<a href="{% url 'article_list' b.id %}">{{ b.name }}</a>
  					<span class="pull-right">管理员：{{ b.manager.username }}</span>
  				</div>
  				<div class="panel-body">
  					<span style="font-size: 13px;">{{ b.desc}}</span>
  				</div>
  			</div>
  			{% endfor %}
  		</div>
  	</div>
{%endblock%}